@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

#hor-in-article-ad-placement { 
    display: none; 
}

.CharContainer table th, .CharContainer table td {
    font-size: 15px;
    line-height: 1.2;
}

